p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: black;
    background-color: #ABC4FF;
    border-radius: 30px;
    padding: 10px;
    max-width: 500px;
    display: flex;
    flex-wrap:nowrap;
    align-items: flex-end;
    text-align: left;
}

body {
    display: grid;
    background-color: #E2EAFC;
    margin: 0;
    grid-template-areas: 
    "side_bar top_bar"
    "side_bar chat"
    "side_bar bottom_bar";
}
.side_bar{

    height: 100%;
    width: 5%;
    background-color: #ABC4FF;
    grid-area: side_bar;
    position: fixed;
    padding: 10px;

}
.chat{
    grid-area: chat;
    align-items: right;
    width: 95%;
}
.bottom_bar{
    grid-area: bottom_bar;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.type_field{
    border-radius: 30px;
    border: none;
    width: 400px;
    font-size: 20px;
    padding-left: 4px;
    padding-top: 4px;
}
.send_btn{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}
ul{
    list-style: none;
}
.person_side{
    height: 40px;
    width: 120px;
}