body {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    scroll-behavior: smooth;
    background-color: rgb(31, 4, 77);
    font-family: Arial, Helvetica, sans-serif;
}
.send_btn {
    width: 60px;
    font-size: 20px;
    border-radius: 5px;
    background-color: inherit;
    border: none;
}
.whole {
    height: 100vh;
    display: flex;
    flex-direction: row;
}


.left-column {
    min-width: 380px;
    background-color: rgb(25, 0, 66);
    display: flex;
    flex-direction: column;
}

.right-column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 4, 77);
}

.usname {
    visibility: collapse;
    display: none;
}
.type_field {
    border: none;
    outline: none;
    font-size: 20px;
    background-color: transparent;
    margin: 0 20px;
    color: white;
    width: 100%;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}

.type_field::placeholder {
    color: white;
}


.bottom_bar {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 5px;
}
.sss {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 600px;
    min-height: 50px;
    height: fit-content;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(74, 12, 131);
}



.chat {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%;
}

.messages-area {
    margin: 0 auto;
    min-width: 600px;
    width: 600px;
}




.chat::-webkit-scrollbar {
    display: none;
}

.message {
    font-size: 20px;
}

.sidebar-header {
    top: 0;
    width: 100%;
    padding-bottom: 10px;
}
.right-column > .sidebar-header {
    margin-bottom: 10px;
}
.chat-info-container {
    display: flex;
    flex-direction: row;
}

.side_d {
    width: 98%;
    border-radius: 10px;
    box-shadow: 0px 0px 40px 0px rgb(2, 0, 6);
    padding: 10px 0;
    padding-left: 5px;
    margin: 0 auto;
    margin-top: 6px;
}

.SearchPlc {
    height: 90%;
    width: 94%;
    color: white;
    font-size: 20px;
    text-align: center;
    box-shadow: 0px 10px 40px 0px rgb(2, 0, 6);
    background-color: rgb(31, 4, 77)
}

.left-column > .sidebar-header {
    margin-bottom: 14px;

}


.chat-info {
    color: rgb(255, 255, 255);
    margin: auto 10px;
    width: 100%;
}
.chat-info-name, .chat-info-ago {
    font-size: 25px;
    margin: 0;
    width: 100%;
}
.chat-info-ago {
    font-size: 15px;
}

.avatar-photo {
    width: 50px;
    border-radius: 20px;
    margin: auto 6px;
}

.sidebar-header {
    position: relative;
    height: 56px;
}

.chat-list {
    height: 100%;
    background-color: rgb(25, 4, 61);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 20px;
}

.chat-list::-webkit-scrollbar {
    display: none;
}

.chat-block {
    display: flex;
    flex-direction: column;
    height: 66px;
    margin: 10px auto;
    width: 360px;
    background-color: rgb(58, 14, 135);
    border-radius: 10px;
    transition: 0.2s ease-out;
    color: white;
    font-size: x-large;
    text-align: center;
}

.chat-block:hover {
    background-color: rgb(91, 22, 209);
    box-shadow: 4px 4px 5px 0px rgb(2, 0, 6);
    padding: 2px 0;
}




.message {
    position: relative;
    width: fit-content;
    max-width: 460px;
    word-break: break-all;
    white-space: normal;   
    background-color: rgb(136, 87, 214);
    color: white;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    text-align: left;
    padding: 5px 10px;
}

.message_box { 
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    display: flex;
}
  

.chat-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.chat-link > p {
    margin: auto 5px;
}


.chat-link > img {
    margin-left: 10px;
    border-radius: 50%;
}


.right-column > .sidebar-header {
    margin-bottom: 16px;
}

.sender_name {
    display: none;
}

.setting {
    position: absolute;
    left: 9px;
    top: 6px;
    width: 65px;
    aspect-ratio: 1/1;
    border-radius: 10px; 
}





@media only screen and (max-width: 980px) {
    body {
        width: 100%;
    }

    .message_box {
        margin-left: 20px;
    }
    .sss {
        width: 96%;
    }

    .chat {
        height: 100%;
    }

    .sidebar-header {
        z-index: 100;
    }

    .right-column > .sidebar-header {
        margin-bottom: 20px;
    }

    .send_btn {
        width: 60px;
        font-size: 20px;
    }
    .bottom_bar {
        margin-bottom: 10px;
    }
    .chat-block:hover {
        background-color: rgb(58, 14, 135);
        box-shadow: none;
        padding: 0;
    }
}

@media only screen and (max-width: 812px) {
    .right-column {
        width: 57vh;
    }
}