<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <link rel="apple-touch-icon" sizes="180x180" href=" {{url_for('static', filename = '/icons/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename = '/icons/favicon-32x32.png')}} ">
        <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename = '/icons/favicon-16x16.png')}}">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover user-scalable=no">
        <meta name="viewport" content="maximum-scale=1.0, user-scalable=no">
        <title></title>
        <meta name="google" content="notranslate">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=no">
        <link rel="stylesheet" href="{{url_for('static', filename = 'main_page.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://kit.fontawesome.com/72e393fdc0.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% endblock %}
    </head>

    <body>
        {% block script %}
        <script type="text/javascript">
            $(document).ready(function() {
                var socket = io.connect("172.20.10.2:5000")
    
                

                
                socket.on('message', function(data) {
                    $('#messages-area').append($('<div class="message_box" id="message_box "><div class="message">' + data +'</div></div>'));     
                });

                $('#SendBtn').on('click', function() {
                    if ($('#message').val() != '') {
                        socket.send($('#message').val());
                        $('#message').val('');
                        $("#messages").scrollTop($("#messages")[0].scrollHeight);
                      } 


                });


                $("#message").keyup(function(event) {
                    if (event.which === 13) {
                        socket.send($('#message').val());
                        $('#message').val('');
                        $("#messages").scrollTop($("#messages")[0].scrollHeight);
                    }
                });


                



            })
        </script>
        {% endblock %}


        <div class='whole page-chats'>

        <div class='left-column'>
            <div class='sidebar-header'><div class='SearchPlc side_d'>Search. Soon</div></div>
            <div class="chat-list">
                {% for User in Users_block%}
                <div class="chat-block"><a class='chat-link' href='/home/{{User["uni_id"]}}'>{{User['name']}}</a></div>
                {% endfor %}
                <div class="chat-block"><a class='chat-link' href='{{url_for("main_page")}}'>Local {{last_message}}</a></div>
                <div class="chat-block"></div>
                <div class="chat-block"></div>
                <div class="chat-block"></div>
                <div class="chat-block"></div>
                <div class="chat-block"></div>
                <div class="chat-block"></div>
                <div class="chat-block"></div>
                <div class="chat-block"></div>
                <div class="chat-block"></div>
                <div class="chat-block"></div>
                <div class="chat-block"></div>
                <div class="chat-block"></div>
                <div class="chat-block"></div>
                <div class="chat-block"></div>
                <div class="chat-block"></div>
            </div>
        </div>


        <div class='right-column'>
            <div class='sidebar-header'>
                <div class='chat-info-container side_d'>
                    <img class='avatar-photo' src="{{url_for('static', filename = 'asaas.jpg')}}">
                    {% block chat_info_name %}
                    <div class='chat-info'><p class="chat-info-name">Local</p>
                    {% endblock %}
                        <p class="chat-info-ago">minutes ago</p></div>
                </div>
                <div class='chat-utils'>
                </div>
            </div>
            {% block content %}
            <div id="messages" class="chat">
            <div class='messages-area' id='messages-area'>   
            {% for msg in chat_history%}
            <div class='message_box'><div class='message'>{{msg.Message}}</div></div>
            {% endfor %}
            </div>    
            </div>
            {% endblock %}

        <div class="bottom_bar">
            <div class='sss'>
            <input class ="type_field" type="text" name="message" id="message" placeholder="Message" max>
            <button id="SendBtn" class="send_btn">
                S
            </button>
            </div>
        </div>

        </div>
        </div>
    


    </body>
</html>