<!DOCTYPE html>
<html>
    <head>
        <link rel="apple-touch-icon" sizes="180x180" href="static/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/icons/favicon-16x16.png">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=no">
        <link rel="stylesheet" href="static/main_page.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://kit.fontawesome.com/72e393fdc0.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <script type="text/javascript">
            $(document).ready(function() {
                var socket = io.connect("http://172.20.10.2:5000")

                socket.on('message', function(data) {
                    $('#messages').append($('<div class="message_box " id="message_box">'));
                    $('#message_box').append($('<div class="message">').text(data)).find("div:last").css("text-align","left");
        
                });

                $('#SendBtn').on('click', function() {
                    socket.send($('#username').val() + ': ' + $('#message').val());
                    $('#message').val('');
                });

                $("#message").keyup(function(event) {
                    if (event.which === 13) {
                        $("#SendBtn").click();
                    }
                });



            })
        </script>
        <nav class="side_bar">
            <a href="#" class="top_side_bar" id="btn"><i class="fa-solid fa-angles-right fa-2x" ></i></a>
            <div class="sideB_search">
                <i class='bx bx-search-alt bx-md search_icon'></i>
                <input class="search_input" id="input_side_bar" type="text"  placeholder="Search...">
                
            </div>
            <div class="chat_members_side_bar">
                <ul>
                    <li class="1_member">
                        <div class="person_flashcard">
                            <i class='bx bxs-user-circle bx-lg sideB_avatar' style="color:white;"></i>
                            <p class="sideB_name">Arsen</p>
                            <p class="sideB_message">Работай! че сидим?мне не нужен такой нигер</p>
                        </div>
                    </li>
                    <li class="2_member">
                        <div class="person_flashcard">
                            <i class='bx bxs-user-circle bx-lg sideB_avatar' style="color:white;"></i>
                            <p class="sideB_name">Almas</p>
                            <p class="sideB_message"></p>
                        </div>
                    </li>
                    <li class="3_member">
                        <div class="person_flashcard">
                            <i class='bx bxs-user-circle bx-lg sideB_avatar' style="color:white;"></i>
                            <p class="sideB_name">Ayan</p>
                            <p class="sideB_message">Я - гуль</p>
                        </div>
                    </li>
                </ul>
            </div>
            <a href="" class="bot_side_bar"><i class='bx bxs-brightness bx-lg'></i></a>
        </nav>
        
        <div id="messages" class="chat">
            {% for msg in history_message%}
            <div class='message_box'><div class='message'>{{msg.Message}}</div></div>
            {% endfor %}
        </div>
        <div class="bottom_bar">
            <input class ="type_field usname" type="text" name="user_name" id="username" placeholder="Username" value={{name}}>
            <input class ="type_field" type="text" name="message" id="message" placeholder="Message">
            <button id="SendBtn" class="send_btn">
                <i class="fa-solid fa-arrow-right"></i>
            </button>





        </div>
        <script>
            let btn = document.querySelector("#btn");
            let side_bar = document.querySelector(".side_bar");
            let search_btn = document.querySelector(".search_input");
            let search_field = document.querySelector(".search_icon");
            
            btn.onclick = function(){
                side_bar.classList.toggle("active");
                search_field.classList.toggle("active");
                search_btn.classList.toggle("active");
                document.getElementById("input_side_bar").focus();
            }
            
        </script>
    </body>
</html>